/********** Template CSS **********/
:root {
    --primary: #AB7442;
    --light: #F5F5F5;
    --dark: #353535;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/



@media (max-width: 991.98px) {
    .navbar-light .navbar-brand h2 {
        display: inline-block;
        display: flex;
        margin-right: 6.25em;
        margin-left: 0;
        justify-content: flex-end;
    }
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: transparent;
    border: 1px solid #FFFFFF;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../img/carousel1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title h1 {
    position: relative;
    display: inline-block;
    padding: 0 60px;
}

.section-title.text-start h1 {
    padding-left: 0;
}

.section-title h1::before,
.section-title h1::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    bottom: 0;
    background: var(--dark);
}

.section-title h1::before {
    left: 0;
}

.section-title h1::after {
    right: 0;
}

.section-title.text-start h1::before {
    display: none;
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service ***/
.service-item img {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.1);
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}


/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .team-social {
    position: absolute;
    width: 38px;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    transition: .5s;
}

.team-item .team-social .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover .team-social {
    left: 0;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    border: 5px solid var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    transform: scale(1);
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact {
        max-width: 100% !important;
    }

    .contact-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../img/footer.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}






/* ===============Product page======================= */


.product-item {
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 15px;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #3F69AA;
    margin-bottom: 15px;
    transition: .3s;
}

.product-item:hover .product-image a {
    background: rgba(63, 105, 170, .5);
}

.product-item .product-image img {
    width: 100%;
}

.product-item:hover .product-image img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.product-item .product-image .product-action {
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 50%;
    text-align: center;
    transition: .5s;
    opacity: 0;
}

.product-item:hover .product-image .product-action {
    top: calc(50% - 25px);
    opacity: 1;
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    background: #3F69AA;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #3F69AA;
    background: #ffffff;
}

.product-item .product-content {
    position: relative;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
}

.product-item .product-content .title,
.product-item .product-content .ratting,
.product-item .product-content .price {
    position: relative;
    width: 100%;
}

.product-item .product-content .title {
    margin-bottom: 5px;
}

.product-item .product-content .title a {
    color: #3F69AA;
    font-size: 18px;
    font-weight: 600;
}

.product-item .product-content .ratting i {
    font-size: 14px;
    /* color: #3F69AA; */
}

.product-item .product-content .price {
    font-size: 30px;
    color: #3F69AA;
    font-weight: 700;
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #666666;
}

.product-slider.slick-slider:hover .slick-prev {
    left: 30px;
    opacity: 1;
}

.product-slider.slick-slider:hover .slick-next {
    right: 30px;
    opacity: 1;
}




/* ================ OUR BRAND ========== */
.brand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /* padding: 2px; */
}

.brand-card {
    background-color: white;
    border: 1px solid #e1e1e1;
    */ border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3, 8, 0, 0.867);
    margin: 10px;
    width: 9.37rem;
}

.brand-image {
    width: 100%;
    height: 6.25rem;
    margin: 0 auto;
}

.brand-card:hover {
    transform: scale(1.1);
}

.brand-title {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}




/**********************************/
/******* Product Detail CSS *******/
/**********************************/
.product-detail {
    position: relative;
    width: 100%;
    padding: 60px 0 15px 0;
}

.product-detail .product-detail-top,
.product-detail .product-detail-bottom,
.product-detail .product-slider.product-slider-3 {
    margin-bottom: 45px;
}

.product-detail .product-slider-single img {
    width: 100%;
    background: #3F69AA;
}

.product-detail .product-content,
.product-detail .product-content .title,
.product-detail .product-content .ratting,
.product-detail .product-content .price,
.product-detail .product-content .details,
.product-detail .product-content .quantity,
.product-detail .product-content .action {
    position: relative;
    width: 100%;
}

.product-detail .product-content .title h2 {
    color: #3F69AA;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product-detail .product-content .ratting i {
    color: #3F69AA;
    font-size: 18px;
}

.product-detail .product-content .price {
    color: #3F69AA;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.product-detail .product-content .price span {
    color: #666666;
    text-decoration: line-through;
    margin-left: 12px;
}

.product-detail .product-content .details {
    margin-bottom: 20px;
}

.product-detail .product-content .details p {
    color: #666666;
    font-size: 16px;
}

.product-detail .product-content .quantity {
    margin-bottom: 20px;
}

.product-detail .product-content .quantity h4 {
    display: inline-block;
    color: #666666;
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
}

.product-detail .product-content .quantity .qty {
    display: inline-block;
}

.product-detail .product-content .quantity button {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    text-align: center;
    color: #ffffff;
    background: #3F69AA;
    border: none;
}

.product-detail .product-content .quantity input {
    width: 60px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    background: rgba(63, 105, 170, .5);
    border: none;
}

.product-detail .product-content .action a {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 7px 0;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    background: #3F69AA;
    border: 1px solid #3F69AA;
}

.product-detail .product-content .action a:hover {
    color: #3F69AA;
    background: #ffffff;
}

.product-detail .nav.nav-pills .nav-link {
    color: #ffffff;
    background: rgba(63, 105, 170, .5);
    border-radius: 0;
}

.product-detail .nav.nav-pills .nav-link:hover,
.product-detail .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #3F69AA;
}

.product-detail .tab-content {
    background: rgba(63, 105, 170, .1);
}

.product-detail .tab-content {
    padding: 10px;
}

.product-detail .tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-detail .tab-content ul li {
    margin-bottom: 10px;
}

.product-detail .tab-content ul li::before {
    content: '\f061';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.product-detail .tab-content .reviews-submitted {
    position: relative;
    margin-bottom: 45px;
}

.product-detail .tab-content .reviewer {
    color: #3F69AA;
    font-size: 18px;
    font-weight: 600;
}

.product-detail .tab-content .reviewer span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.product-detail .tab-content .ratting {
    color: #3F69AA;
    margin-bottom: 15px;
}

.product-detail .tab-content .reviews-submit .ratting {
    font-size: 24px;
}

.product-detail .tab-content .form input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    background: #ffffff;
    border: none;
    margin-bottom: 15px;
}

.product-detail .tab-content .form textarea {
    width: 100%;
    height: 80px;
    padding: 6px 15px;
    color: #666666;
    background: #ffffff;
    border: none;
    margin-bottom: 15px;
}

.product-detail .tab-content .form button {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    background: #ffffff;
    border: none;
    margin-bottom: 15px;
}

.product-detail .tab-content .form button:hover {
    color: #ffffff;
    background: #3F69AA;
}